%header
  .logo-and-search
    .logo-and-search__logo
      %a{href: "/"}
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1324730246'
    .search
      %form.logo-and-search__search
        %input{value:"", placeholder:"何をお探しですか？" }
        %i.fa.fa-search
  .lists
    .lists__left
      %ul
        %li.categories
          %h2
            = link_to "カテゴリから探す", "/", class: "categories-btn"
        %li.brands
          %h2
            = link_to "ブランドから探す", "/", class: "brands-btn"
    
    .signin-and-signup
      %ul.account
        - if user_signed_in?
          %li.kari__signout-btn
            = link_to "ログアウト",destroy_user_session_path,method: :delete, class: "kari__signout-btn-text"
          %li.news-btn
            = link_to "/", class: "news-btn__text" do
              お知らせ
          %li.todo-list-btn
            = link_to "/", class: "todo-list-btn__text" do
              やることリスト
          %li.mypage-btn
            = link_to "/", class: "mypage-btn__text" do
              マイページ
        - else
          %li.signup-btn
            = link_to "新規会員登録",new_user_registration_path,method: :get, class: "signup-btn__text"
          %li.signin-btn
            = link_to "ログイン",new_user_session_path,method: :get, class: "signin-btn__text"
