.complete
  .logo-complete
    %a{href: root_path}
      = image_tag 'logo2.png', class: "user-form__main-logo"
    .logo-2
      = image_tag 'complete-chart.png', class: "chart"
  .complete-contents
    .one-complete
      %h2 会員登録完了
    .two-complete
      %h3
        ありがとうございます
        %br>/
        会員登録が完了しました
    .three-complete
      = link_to "メルカリを始める", root_path,class:"btn-complete"
    .footer-complete
      = link_to image_tag('complete-footer.jpg',class:"aaa"),root_path
  = render '/items/buy_footer'

