<h2>発送元・お届け先住所入力</h2>
  <%= form_for @address do |f| %>
  <div class="field">
    <%= f.label :お名前 %><br />
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :お名前カナ %><br />
    <%= f.text_field :kana_first_name %>
    <%= f.text_field :kana_last_name %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :post_id %>
  </div>
  
  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.text_field :prefecture %>
  </div>

  <div class="field">
    <%= f.label :市町村 %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :番地 %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :建物名 %><br />
    <%= f.text_field :building %>
  </div>

  <div class="actions">
    <%= f.submit "入力完了" %>
  </div>
<% end %>


  
  
