.addresses-new
  .logo-addresses
    %a{href: root_path}
      = image_tag 'logo2.png', class: "user-form__main-logo"
    .logo-2
      = image_tag 'address-chart.png', class: "chart"
  .addresses
    %h2 発送元・お届け先住所入力
    .one-addresses
      = form_for @address,  html: { id: :user_address_form } do |f|
        .field-addresses.user-address-form__border
          .label-addresses
            = f.label :お名前
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :first_name,placeholder:'例）山田',class:"form-addresses"
            = f.text_field :last_name,placeholder:'例）彩',class:"form-text"
        .field-addresses
          .label-addresses
            = f.label :お名前カナ
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :kana_first_name,placeholder:'例）ヤマダ',class:"form-addresses"
            = f.text_field :kana_last_name,placeholder:'例）アヤ',class:"form-text"
        .field-addresses
          .label-addresses
            = f.label :郵便番号 
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :post_id,placeholder:'例）123-4567',class:"form-addresses"
        .field-addresses
          .label-addresses
            = f.label :都道府県 
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :prefecture,placeholder:'例）神奈川県',class:"form-addresses"
        .field-addresses
          .label-addresses
            = f.label :市町村 
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :city,placeholder:'例）横浜市緑区',class:"form-addresses"
        .field-addresses
          .label-addresses
            = f.label :番地 
            = f.label :必須,class:"label"
            %br/
          .text-addresses
            = f.text_field :address,placeholder:'例）青山1-1-1',class:"form-addresses"
        .field-addresses
          .label-addresses
            = f.label :建物名 
            = f.label :任意,class:"free"
            %br/
          .text-addresses
            = f.text_field :building,placeholder:'例）柳ビル103',class:"form-addresses"
        
        .actions-addresses
          = f.submit "次へ進む",class:"btn-addresses"
  = render '/items/buy_footer'
