%header
  .logo-and-search
    .logo-and-search__logo
      = link_to image_tag('logo.png', class:"logo-and-search__logo-image"),"/"
    .search
      %form.logo-and-search__search
        %input{value:"", placeholder:"何をお探しですか？" }
        %i.fa.fa-search.header__search-icon
  .lists
    .lists__left
      %ul.lists__left-list
        %li.categories

          %h2
            = link_to "カテゴリから探す", "/", class: "categories-btn" do
              %i.fas.fa-list-ul.categories-link__list-icon
          .category-first
            - @parents.each do |parent|
              .category-item{value:"#{parent.id}"} 
                =parent.name
            .category-second
            .category-third

        %li.brands
          %h2
            = link_to "ブランドから探す", "/", class: "brands-btn" do 
              %i.fas.fa-tag.brands-link__tag-icon
          .brands-values
            .brands-category-1
              シャネル
            .brands-category-2
              ナイキ
            .brands-category-3
              ルイヴィトン
            .brands-category-4
              シュプリーム
            .brands-category-5
              アディダス
            .brands-category-6
              ブランド一覧
      


    .signin-and-signup
      %ul.account
        - if user_signed_in?
          %li.like-btn
            %i.far.fa-heart.like-btn__header-like-icon
            = link_to "/", class: "like-btn__text" do
              いいね！ 一覧
          %li.news-btn
            %i.far.fa-bell.news-btn__icon
            = link_to "/", class: "news-btn__text" do
              お知らせ
            .news-btn__count
              99
          %li.todo-list__btn
            %i.fas.fa-check.todo-list__btn-icon
            = link_to "/", class: "todo-list__btn-text" do
              やることリスト
          %li.mypage-btn
            = image_tag "member_photo_noimage_thumb.png", class:"mypage-btn__icon"
            = link_to mypage_users_path, class: "mypage-btn__text" do
              マイページ
        - else
          %li.signup-btn
            = link_to "新規会員登録",new_user_path, class: "signup-btn__text"
          %li.signin-btn
            = link_to "ログイン",new_user_session_path, class: "signin-btn__text"
