.default-container
  = render 'header'
  .banner
    .banner-image
      = image_tag "banner-6th-thanks.jpg"
      = image_tag "banner-camp.jpg"
      = image_tag "banner-natsukashi.jpg"
  .pickup-contents
    %h2.pickup-contents__title
      商品一覧表示
    %section.items-contents.clearfix
      %h3.items-contents__title
      .items-box-content.clearfix
        - @items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  -if item.status==2
                    .sold-item-wrapper
                      .sold-text
                        sold
                      .sold-icon
                      = image_tag image.image.url, class: "detail-page__img"
                  -else
                    = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)

  .pickup-contents
    %h2.pickup-contents__title
      ピックアップカテゴリー
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "レディース新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @ladies_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"
  
  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "メンズ新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @mens_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"
  
  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "ベビー・キッズ 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @baby_kids_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"
  
  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "コスメ・香水・美容 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @cosme_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"
  
  .pickup-contents
    %h2.pickup-contents__title
      ピックアップブランド
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "シャネル 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @chanel_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"
  
  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "ルイ ヴィトン 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @vuitton_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"

  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "シュプリーム 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @supreme_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"

  .pickup-contents
    %section.items-contents.clearfix
      %h3.items-contents__title
        = link_to "ナイキ 新着アイテム", root_path, class: "items-contents__title-btn"
      .items-box-content.clearfix
        - @nike_items.each do |item|
          - images=Image.where("item_id=?",item.id).limit(1)
          = link_to "items/#{item.id}", class:"item-show-link" do
            .items-box
              .detail-page
                -images.each do |image|
                  = image_tag image.image.url, class: "detail-page__img"
                .detail-page__body
                  %h3.item-name
                    = item.name
                  .item-price.clearfix
                    = item.price
                  %span.like-count
                    1
                  %i.far.fa-heart.item__like-icon
                  .item-tax
                    (税込)
  .pickup-content__all
    = link_to "すべての商品を見る", root_path, class: "pickup-content__all-btn"

  = render 'footer'
