-# ヘッダー
.header
  .header__logo

-# フォーム表示部分
.container
  = form_for @item do |f|

    .container__contents

      -# ページタイトル
      .container__contents__pagetitle
        商品の情報を入力

      -# 出品画像
      .container__contents__image
        .container__contents__image__upper
          .container__contents__image__upper__text
          .container__contents__image__upper__note
        .container__contents__image__middle
        .container__contents__image__under
          -# = form_for @item do |f|
          = f.label :image,"ドラッグアンドドロップまたはクリックしてアップロード"
          = f.file_field :image
        
      
      -# 商品名と説明
      .container__contents__item
        .container__contents__item__name
          .container__contents__item__name__upper
            .container__contents__item__name__upper__text
            .container__contents__item__name__upper__note
            .containew__contents__item__name__upper__form
              -# = form_for @item do |f|
              = f.label :name,"商品名"
              = f.text_field :name
        .container__contents__item__explain
          .container__contents__item__explain__under
            .container__contents__item__explain__under__text
            .container__contents__item__explain__under__note
            .containew__contents__item__explain__under__form
              -# = form_for @item do |f|
              = f.label :text,"商品説明"
              = f.text_area :text

      -# 商品の詳細（カテゴリーや状態など）
      .container__contents__details
        .container__contents__details__left
        .container__contents__details__right
          .container__contents__details__right__form
            = "カテゴリ"
            -# = form_for @item do |f|
            = f.select :first_genre_id,[["レディース","1"],["メンズ","2"]],prompt: "---"
            = f.select :second_genre_id,[["トップス","1"],["靴","2"]],prompt: "---"
            = f.select :third_genre_id,[["ブーツ","1"],["サンダル","2"]],prompt: "---"

            = "サイズ"
            -# = form_for @item do |f|
            = f.select :size,["20cm以下","20.5cm"],prompt: "---"

            = "ブランド"
            -# = form_for @item do |f|
            = f.text_field :brand

            = "商品の状態"
            -# = form_for @item do |f|
            = f.select :condition,["新品、未使用","未使用に近い"],prompt: "---"

      -# 配送について
      .container__contents__shipping
        .container__contents__shipping__left
        .container__contents__shipping__right
          .container__contents__shipping__right__postage
            = "配送料の負担"
            -# = form_for @item do |f|
            = f.select :postage,["送料込み","着払い"],prompt: "---"
          .container__contents__shipping__right__style
            = "配送の方法"
            -# = form_for @item do |f|
            = f.select :shipping_style,["未定","クロネコヤマト"],prompt: "---"
          .container__contents__shipping__right__region
            = "発送元の地域"
            -# = form_for @item do |f|
            = f.select :sending_region,["東京","神奈川"],prompt: "---"
          .container__contents__shipping__right__day
            = "発送までの日数"
            -# = form_for @item do |f|
            = f.select :shipping_day,["1~2日で発送","2~3日で発送"],prompt: "---"
          

      -# 販売価格
      .container__contents__value
        .container__contents__value__left
        .container__contents__value__right
          .container__contents__value__right__price
            = "価格"
            -# = form_for @item do |f|
            = f.text_field :price
          .container__contents__value__right__fee
          .container__contents__value__right__profit



      -# 商品の出品とページバックのボタン
      .container__contents__btns
        .container__contents__btns__create
          = f.submit "出品する"
        .container__contents__btns__pageback

-# フッター
.footer
  .footer__links
    .footer__links-privacy_policy
    .footer__links-terms
    .footer__links-notation
  .footer__logo
  .footer_copyright
