!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Freemarket52c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = stylesheet_link_tag '/dropzone/basic'
    -# = stylesheet_link_tag '/dropzone/dropzone'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    = link_to "トップページ","/"
    = link_to "ログイン",new_user_session_path,method: :get
    = link_to "新規登録","/users/new"
    = link_to "出品する",new_item_path, method: :get
    = link_to "購入確認",buy_item_path(1)
    = link_to "購入完了",done_item_path(1)
    - if user_signed_in?
      = link_to "ログアウト",logout_users_path
      = link_to "マイページ",mypage_users_path
      = link_to "本人情報","/users/#{current_user.id}/info"
      = link_to "本人情報編集","/users/#{current_user.id}/edit"
      = link_to "商品編集","/users/#{current_user.id}/items_status"
    = yield
    %p.notice= notice
    %p.alert= alert